
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

      body {
        font-family: 'Droid Sans', sans-serif;
        background-color: rgb(245, 247, 248);
      }

      .avatar {
        box-shadow: 2px 3px 5px black;
        border-radius: 8px;
        width: 100%;
      }
      .container {
        margin: 10px auto;
        max-width: 300px;
      }
      h1 {
        float: left;
        font-size: 28px;
        margin: 20px 0;
        color: #222;
      }
      .player {
        margin: 10px 10px;
      }
      .bigi {
        position: relative;
      }
      .social_links {
        position: absolute;
        top: 15px;
        right: 15px;
      }
      .social_links li {
        float:left;
        display: inline;
        margin-left: 10px;
        line-height: 2em;
      }
      .social_links li a {
        color: darkblue;
/*        text-decoration: none;
        border-bottom: 1px solid darkblue;
*/
        /*transition: 0.3s;*/
      }
      .social_links li a img {
        -webkit-filter: blur(2px);
        filter: blur(2px);
        width: 20px;
        transition: 0.3s;
      }
      .social_links li a:hover img {
        -webkit-filter: blur(0px);
        filter: blur(0px);
      }
      .social_links li a:hover {
        /*transition: 0.3s;*/
        /*color: #888;*/
        /*border-bottom: 1px solid #eee;*/
      }
      .musica {
        /*margin-top: 20px;*/
      }

body {
}
